.logout {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout-card {
    display: flex;
    background-color: white;
    border-radius: 15px;
    min-height: 600px;
    overflow: hidden;
    .left {
        flex: 1;
        background: linear-gradient(rgba(0, 255, 119, 0.5), rgba(5, 61, 0, 0.5)),
        url("https://cdn.myportfolio.com/236bd5a5-dac3-43d9-aa46-b21cfd636638/686382b5-3d3d-4992-a18e-d05568193400_rw_1920.jpg?h=3799f21c73b9ef03e60784a8277b7468") center;
        background-size: cover;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: white;
        justify-content: center;
    }
    .right {
        flex: 1;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
  
    }
}